.app-container {
  display: grid;
  background: #d9e4e8;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  gap: 1rem;
  justify-content: stretch;
  align-content: stretch;

}

.header-container {
  display: grid;
  grid-area: header;
  max-height: 100px;
  
}

.main-container {
  display: grid;
  grid-area: main;
  
}

.nav-container {
  display: grid;
  grid-area: nav;
}


@media (max-width: 767px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 60px;
    grid-template-areas: 
    "header"
    "main"
    "nav";
  }
  .nav-container{
    grid-template-columns: 1fr;
  }
}
@media (min-width:768px) {
  /* Your desktop styles here */
  .app-container {
    text-align: center;
    grid-template-rows: 100px auto;
    grid-template-columns: 250px auto;
    grid-template-areas: 
    "nav header"
    "nav main";
  }
  .nav-container{
    grid-template-rows: repeat(4, 60px);
  }
} 